h1,h2,h3,p,input,table{
	font-family: fantasy !important;
}

h1 {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

p, .def {
	font-size: 20px;
}

.centertext {
	text-align: center;
}

input{
	outline:none;
	/*border:none;*/
}

.numwidth {
	width:60px;
}

.ib {
	display:inline-block;
}
.it {
	display:inline-table;
}

.featmark {
	border-radius: 50%;
	width:18px;
	height:18px;

}

.featselect {
	border: 5px  solid #0800ff;
	box-shadow: inset 0px 0px 0px #222 , 0px 0px 10px #ddf;
	animation: pulsate 3s infinite;
}

@keyframes pulsate {
  0%  { box-shadow: inset 0px 0px 0px #222 , 0px 0px 10px #fff; }
  50% { box-shadow: inset 0px 0px 0px #222 , 0px 0px 20px #ddf;
  		border-color: #00e9ff;}
  100% { box-shadow: inset 0px 0px 0px #222 , 0px 0px 10px #ddf;; } 
}