h1,h2,h3,p,input,table{
	font-family: fantasy !important;
}

h1 {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

p {
	font-size: 20px;
}

table {
	text-align: center;
}

.center {
	text-align: center;
}